body, html {
    height: 100%;
}

#loading {
    display: block;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    z-index: 1;
}

#spin {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;

    border-top: 16px solid teal;
    border-radius: 50%;

    animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}